.center {
  text-align: center;
}

.carousel img {
  max-height: 600px;
}

.carousel-indicators {
	bottom: 0;
}

.carousel-indicators .active {
  background-color: black;
}

.carousel-indicators li {
  border-color: black;
  border-style: groove;
}
